# Исключаем логи
*.log

# Исключаем директорию vendor, если она используется
vendor/

# Исключаем директорию .git, если проект находится в Git-репозитории
.git/

# Исключаем директорию .idea, если используется JetBrains IDE
.idea/

# Исключаем директорию .vscode, если используется VSCode
.vscode/

# Исключаем директорию tmp, если она используется для временных файлов
tmp/

# Исключаем директорию build, если она используется для скомпилированных файлов
build/

# Исключаем директорию bin, если она используется для исполняемых файлов
bin/

# Исключаем директорию coverage, если она используется для отчетов о покрытии тестами
coverage/

# Исключаем директорию testdata, если она используется для тестовых данных
testdata/